.Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    padding: 50px 0;
    width: 50%;
}

.ImgMenu {
    display: flex;
    width: 50%;
}

.PageWrap{
    display: flex;
    max-height: 100vh;
}

.GaleriaMenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    box-shadow: 0px 0px 10px 5px #DFD0B880;
    padding: 20px;
    margin: 50px;
    min-height: 300px;
    border-radius: 24px;
}

.GaleriaMenu-item {
    background-color: var(--color-bg);
    border-radius: 24px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

}

.GaleriaMenu-img {
    width: 200px;
    height: auto;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 4px 1px rgba(202, 200, 200, 0.2);
}

.GaleriaMenu-p {
    font-size: 20px;
    color: var(--color-text2);
}

.CheckOut {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.Order {
    display: flex;
    flex-direction: column;
}

.Order-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Order-ul {
    margin: 50px;
}

/* btns */

.Menu-filters,
.Header-subNav {
    padding: 10px;
    margin: 40px 0;
}

.Nav-link {
    display: inline-block;
    margin: 0 20px;
    color: var(--color-bg);
    text-decoration: none;
    font-size: 24px;
    background-color: var(--color-text);
    padding: 15px;
    border-radius: 20px;
    transition: box-shadow 1s ease-in-out, transform 1s ease-in-out;
}

.Nav-link:hover {
    box-shadow: var(--box-shadow);
    transform: translateY(10px);
}

.active {
    scale: 1.3;
}